{% extends "layout.html" %}
  
{% block body %}
        <h1>Worker and service management</h1>

        <font size="5">        
        <h2><u>Workers:</u></h2>
<table>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Services</th>
    </tr>
    {% if workers is defined and workers|length > 0 %}
        {% for worker in workers %} 
            <tr>
                <form method="POST" action="{{ url_for('worker_modify', worker_id=worker.id) }}">
                    <td>{{ worker.name }}</td>
                    {% for account in accounts %}
                    {% if account.id == worker.account_id %}
                    <td>{{ account.role }}</td>
                    {% endif %}
                    {% endfor %}
                    <td>
                        <select class="btn btn-outline-secondary dropdown-toggle">
                        {% for service in worker.services%}
                        <option value="{{ service.name}}">{{ service.name }}</option>
                        {% endfor %}
                        </select>
                    </td>     
                    <td><input type="submit" class="btn btn-outline-warning" value="Change role"/></td>
                </form>
                <form method="POST" action="{{ url_for('worker_delete', worker_id=worker.id) }}">  
                    <td><input type="submit" class="btn btn-outline-danger" value="Delete worker"/></td>
                    </form>
            </tr>
        {% endfor %}
        {% else %}
            <tr></tr>
            <tr>
                    <td></td>
                    <td></td>
                    <td><h3 style="color:red;"> No workers added yet </h3></td>
            </tr>
            {% endif %}
       
        </table></b>

</br>
<h3>Add a worker</h3>
<form method="POST" class="form-group" action="{{ url_for('worker_create') }}">
    <table>
        <tr>
          {{ wform.name.label}}
        </tr>
        <tr>
          <td>{{ wform.name(class_="form-control")}}</td></br>
          <td>
          <ul>
              {% for error in wform.name.errors %}
              <div class="badge badge-info">
                    <li>{{ error }}</li>
            </div>
              {% endfor %}
          </ul>
          </td>
        </tr>
        <tr>
            <td>{{ wform.username.label}} </td>
        </tr>
        <tr>   
            <td>{{ wform.username(class_="form-control")}}</td>
            <td>
            <ul>
                {% for error in wform.username.errors %}
                <div class="badge badge-info">
                        <li>{{ error }}</li>
                </div>
                {% endfor %}
            </ul>
            </td>
        </tr>
        <tr>
          <td>{{ wform.password.label}}</td>
        </tr>
        <tr>
          <td>
              {{ wform.password(class_="form-control")}}
          </td>
          <td>
              <ul>
                  {% for error in wform.password.errors %}
                  <div class="badge badge-info">
                        <li>{{ error }}</li>
                </div>
                  {% endfor %}
              </ul>
          </td>
        </tr>
        <tr>
            <td>{{ wform.confirm_password.label}}</td>
        </tr>
              <tr>
                <td>
                    {{ wform.confirm_password(class_="form-control")}}
                </td>
                <td>
                    <ul>
                        {% for error in wform.confirm_password.errors %}
                        <div class="badge badge-info">
                                <li>{{ error }}</li>
                        </div>
                        {% endfor %}
                    </ul>
                </td>
              </tr>
              <tr>
                    <td>{{ wform.role.label}}</td>
                </tr>
                      <tr>
                        <td>
                            {{ wform.role(class_="form-check")}}
                        </td>
                </tr>
    </table>
  <input type="submit" name="add_worker " class="btn btn-outline-success btn-lg" value="Add worker"/>
  <input type="reset" class="btn btn-outline-warning btn-lg">
</form>
</br>
<h2><u>Services:</u></h2>
<table>
        <tr>
            <th>Title</th>
            <th>Duration</th>
            <th>Cost per Hour</th>
            <th>Total</th>
            <th>Assign worker</th>
        </tr>
        {% if services is defined and services|length > 0 %}
        {% for service in services %}
        <tr>
            <td>{{ service.name}}</td>
            <td>{{ service.duration_hrs}}h {{service.duration_mins}}min</td>
            <td>{{ service.cost_per_hour }} €</td>
            <td>{{ (service.cost_per_hour) * (service.duration_hrs) + ((service.cost_per_hour) * (service.duration_mins) / 60) }} €</td>
            <td>
                <form method="POST" action="{{ url_for('worker_assign', service_id=service.id) }}">
                <div class="btn-group">{{ swform.workers_list(class_="form-control form-control-lg") }}</div>
                <input type="submit" name="assign_worker " class="btn btn-outline-success btn-lg" value="Assign worker"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td></td>
            <td><h3 style="color:red;"> No services added yet </h3></td>
        </tr>
        {% endif %}
</table></b>
<h3>Add a Service</h3>
<form method="POST" class="form-group" action="{{ url_for('service_create') }}">
    <table>
        <tr>
          {{ sform.name.label}}
        </tr>
        <tr>
            <td>{{ sform.name(class_="form-control")}}</td>
            <td>
                <ul>
                {% for error in sform.name.errors %}
                <div class="badge badge-info">
                        <li>{{ error }}</li>
                </div>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ sform.duration_hrs.label }}</td>
        </tr>
        <tr>
            <td>{{ sform.duration_hrs(class_="form-control")}}</td>
            <td>
                <ul>
                {% for error in sform.duration_hrs.errors %}
                <div class="badge badge-info">
                        <li>{{ error }}</li>
                </div>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ sform.duration_mins.label}}</td>
        </tr>
        <tr>
            <td>
                {{ sform.duration_mins(class_="form-control")}}
            </td>
            <td>
                <ul>
                {% for error in sform.duration_mins.errors %}
                <div class="badge badge-info">
                        <li>{{ error }}</li>
                </div>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ sform.cost_per_hour.label }}</td>
        </tr>
        <tr>
            <td>{{ sform.cost_per_hour(class_="form-control")}}</td>
        </tr>
    </table>
  <input type="submit" name="add_service " class="btn btn-outline-success btn-lg" value="Add service"/>
  <input type="reset" class="btn btn-outline-warning btn-lg">
</form>
</br>
</br>
</font>

{% endblock %}