{% extends "layout.html" %}
  
{% block body %}
        <h1>Worker and service management</h1>
        <h2><u>Workers:</u></h2>
<table>
    <tr>
        <th>Name</th>
        <th>Is admin</th>
        <th>Services</th>
    </tr>
    {% if workers is defined and workers|length > 0 %}
        {% for worker in workers %} 
            <tr>
                <form method="POST" action="{{ url_for('worker_modify', worker_id=worker.id) }}">
                    <td><input type="text" name="name" value='{{ worker.name }}'/></td>
                    <td><input type="text" name="admin" value='{{ worker.isAdmin }}'/></td>
                    <td>
                        <select>
                        {% for service in worker.services%}
                        <option value="{{ service.name}}">{{ service.name }}</option>
                        {% endfor %}
                        </select>
                    </td>     
                    <td><input type="submit" value="Modify worker"/></td>
                    <td><input type="reset"></td>
                </form>
            </tr>
        {% endfor %}
        {% else %}
            <tr></tr>
            <tr>
                    <td></td>
                    <td></td>
                    <td><h3 style="color:red;"> No workers added yet </h3></td>
            </tr>
            {% endif %}
</table></b>

</br>
<h3>Add a worker</h3>
<form method="POST" action="{{ url_for('worker_create') }}">
    <table>
        <tr>
          {{ wform.name.label}}
        </tr>
        <tr>
          <td>{{ wform.name}}</td></br>
          <td>
          <ul>
              {% for error in wform.name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          </td>
        </tr>
        <tr>
            <td>{{ wform.username.label}} </td>
        </tr>
        <tr>   
            <td>{{ wform.username}}</td>
            <td>
            <ul>
                {% for error in wform.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        <tr>
          <td>{{ wform.password.label}}</td>
        </tr>
        <tr>
          <td>
              {{ wform.password}}</br>
          </td>
          <td>
              <ul>
                  {% for error in wform.password.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          </td>
        </tr>
        <tr>
            <td>{{ wform.confirm_password.label}}</td>
        </tr>
              <tr>
                <td>
                    {{ wform.confirm_password}}</br>
                </td>
                <td>
                    <ul>
                        {% for error in wform.confirm_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
              </tr>
              <tr>
                    <td>{{ wform.role.label}}</td>
                </tr>
                      <tr>
                        <td>
                            {{ wform.role}}
                        </td>
                </tr>
    </table>
  <input type="submit" name="add_worker "value="Add worker"/>
  <input type="reset">
</form>
</br>
<h2><u>Services:</u></h2>
<table>
        <tr>
            <th>Title</th>
            <th>Duration</th>
            <th>Cost per Hour</th>
            <th>Total</th>
            <th>Assign worker</th>
        </tr>
        {% if services is defined and services|length > 0 %}
        {% for service in services %}
        <tr>
            <td>{{ service.name}}</td>
            <td>{{ service.duration_hrs}}h {{service.duration_mins}}min</td>
            <td>{{ service.cost_per_hour }} €</td>
            <td>{{ (service.cost_per_hour) * (service.duration_hrs) + ((service.cost_per_hour) * (service.duration_mins) / 60) }} €</td>
            <td>
                <form method="POST" action="{{ url_for('worker_assign', service_id=service.id) }}">
                {{ swform.workers_list }}
                <input type="submit" name="assign_worker "value="Assign worker"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td></td>
            <td><h3 style="color:red;"> No services added yet </h3></td>
        </tr>
        {% endif %}
</table></b>
<h3>Add a Service</h3>
<form method="POST" action="{{ url_for('service_create') }}">
    <table>
        <tr>
          {{ sform.name.label}}
        </tr>
        <tr>
            <td>{{ sform.name}}</td>
            <td>
                <ul>
                {% for error in sform.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ sform.duration_hrs.label }}</td>
        </tr>
        <tr>
            <td>{{ sform.duration_hrs}}</td>
            <td>
                <ul>
                {% for error in sform.duration_hrs.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ sform.duration_mins.label}}</td>
        </tr>
        <tr>
            <td>
                {{ sform.duration_mins}}</br>
            </td>
            <td>
                <ul>
                {% for error in sform.duration_mins.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ sform.cost_per_hour.label }}</td>
        </tr>
        <tr>
            <td>{{ sform.cost_per_hour}}</td>
        </tr>
    </table>
  <input type="submit" name="add_service "value="Add service"/>
  <input type="reset">
</form>

{% endblock %}