{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">
    "Company name's" online booking system 
</h1>
<br/>
<img src=https://get.pxhere.com/photo/beach-open-white-street-number-restaurant-wall-rustic-sign-color-blue-business-street-sign-graffiti-signage-door-street-art-art-welcome-south-africa-open-sign-house-numbering-open-for-business-853073.jpg alt="Shop open sign (Creative Commons, https://pxhere.com/en/photo/853073)" style="width:800px;height:600px;">
<h3>
    Information on our company...
</h3></br>
<ul>
    <li>Our values...</li>
    <li>Blablablabla</li>
    <li>Etcetcetc</li>
</ul>
{% endblock %}