<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OL-booking</title>
    </head>
    <body>
        <ul>
            <li><a href="/">Front page</a></li>
            <li><a href="{{ url_for('booking_index') }}">View Bookings</a></li>
            <li><a href="{{ url_for('cal_index') }}">Booking</a></li>
            <li><a href="{{ url_for('worker_index') }}">Worker management</a></li>
        </ul>
        {% block body %}
            <div>
                
            </div>
        {% endblock %}
    </body>
</html>