<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OL-booking</title>
    </head>
    <body>
        <ul>
            <li><a href="/">Front page</a></li>
            <li><a href="{{ url_for('cal_index') }}">Booking</a></li>
            <li><a href="{{ url_for('booking_index') }}">My Bookings</a></li>
            <li><a href="{{ url_for('user_login') }}">User Login</a></li>
        </ul>
        {% block body %}
            <div>
                
            </div>
        {% endblock %}
        <div align="right">
        <font size="2">Site management </br>
                <a href="{{ url_for('booking_index') }}">Manage Bookings</a></br>
                <a href="{{ url_for('worker_index') }}">Worker and service management</a></br>
        </font> 
        </div>
    </body>
</html>