<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OL-booking</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <font color="green">{{ message }}</font>
                {% endfor %}
                </ul>
                {% endif %}
        {% endwith %}
    </head>
    <body>
        {% if current_user.is_authenticated %}
        <p>logged in with a username <b>{{ current_user.username }}</b> <a href="{{ url_for('user_logout') }}">Logout</a></p>
        {% else %}
        <a href="{{ url_for('user_login') }}">Login</a>
        <a href="{{ url_for('user_register') }}">Register</a>
        {% endif %}

        <ul>
            <li><a href="/">Front page</a></li>
            <li><a href="{{ url_for('cal_index') }}">Booking</a></li>
            <li><a href="{{ url_for('booking_index') }}">My Bookings</a></li>
        </ul>
        {% block body %}
            <div>
                
            </div>
        {% endblock %}
        <div align="right">
        <font size="2">Site management </br>
                <a href="{{ url_for('booking_index') }}">Manage Bookings</a></br>
                <a href="{{ url_for('worker_index') }}">Worker and service management</a></br>
                <a href="{{ url_for('customer_listing') }}">Customer listing and management</a></br>
        </font> 
        </div>
    </body>
</html>