{% extends "layout.html" %}

{% block body %}

<div>
        <h1 class="text-center">
            "Company name's" booking calendar for 
            {{ month }}
             /
            {{ year }}
            
        </h1></br>
            <table class="container bg-faded">
              <tr>
                <td>
                    <form method="POST" action="{{ url_for('prev_month') }}">
                        <input type="submit" class="btn btn-dark btn-lg" value="previous month"/>
                    </form>
                </td>
                <td>
                        <form method="POST" action="{{ url_for('current_time') }}">
                            <input type="submit" class="btn btn-dark btn-lg" value="current time"/>
                        </form>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('next_month') }}">
                        <input type="submit" class="btn btn-dark btn-lg" value="next month"/>
                    </form>
                </td>
              </tr>
            </table>
        </br>
        <div class="container bg-faded">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                          {% for name in daynames %}
                          {% if name == '|SU|' %}
                          <th><h3 style="color: red">{{ name }}</h3></th>
                          {% else %}
                          <th><h3>{{ name }}</h3></th>
                          {% endif %}
                          {% endfor %}
                        </tr>
                    </thead>
                      {% for week in days %}
                      <tr>
                            {% for day in week %}
                              {% if day[0] != '00' %}
                              {% if day[1] == 'No reservations'%}
    
                            <td><form method="POST" action="{{ url_for('set_day', day=day[0]) }}">
                                <input type="submit" class="btn btn-secondary btn-lg" title="{{day[1]}}" value="{{day[0]}}"/>
                            </form></td>
    
                              {% else %}
                            <td><form method="POST" action="{{ url_for('set_day', day=day[0]) }}">
                                <input type="submit" class="btn btn-warning btn-lg" style="background-color:yellow;" title="
                                {% for d in day %}
                                {% if d != 'No reservations'%}
                                {{ d }}
                                {% endif %}
                                {% endfor %}
                                " value="{{day[0]}}"/>
                            </form></td>
                              {% endif %}
                              {% else %}
                              <td></td>
                              {% endif %}
                              {% endfor %}
                          </tr>
                    {% endfor %}
                  </table>
                  <h5 class="text-center">Dates with reservations on a yellow background</h5>
        </div></br>
        <form class="form-control form-control-lg" method="POST" action="{{ url_for('unreg_booking_create') }}">
        <div>
            <font size="5">
                    <table>
                            <tr>
                                {{ form.date.label}}
                            </tr>
                            <tr>
                                <td>{{ form.date(class_="form-control")}}</td>
                                <td>
                                <ul>
                                    {% for error in form.date.errors %}
                                    <div class="badge badge-info">
                                            <li>{{ error }}</li>
                                    </div>
                                    {% endfor %}
                                </ul>
                                </td>
                            </tr>
                            <tr>
                              <td>{{ form.service.label}}</td>
                            </tr>
                            <tr>
                              <td>
                                  {{ form.service(class_="form-control") }}
                              </td>
                              <td>
                                  <ul>
                                      {% for error in form.service.errors %}
                                      <div class="badge badge-info">
                                            <li>{{ error }}</li>
                                    </div>
                                      {% endfor %}
                                  </ul>
                              </td>
                            </tr>
                            <tr>
                                <td>{{ form.notes.label}}</td>
                              </tr>
                              <tr>
                                <td>
                                    {{ form.notes(class_="form-control")}}</br>
                                </td>
                                <td>
                                    <ul>
                                        {% for error in form.notes.errors %}
                                        <div class="badge badge-info">
                                                <li>{{ error }}</li>
                                        </div>
                                        {% endfor %}
                                    </ul>
                                </td>
                              </tr>
                          </table>
      <input type="submit" class="btn btn-outline-success btn-lg" name="ureg_add_booking" value="Book service"/>
      <input type="reset" class="btn btn-outline-danger btn-lg">
    </font>
</br>
</br>
    </div>
    </form>
    </br>
    </div>
{% endblock %}