{% extends "layout.html" %}
  
{% block body %}
{% if customers.name is defined %}
<h2>My account(s): </h2>
<ul>
    <li class="form-control">
        <a href="{{ url_for('customer_information', customer_id = customers.id) }}">{{ customers.name }}</a>
    </li>
</ul>
{% else %}
<h2>Customers: </h2>
<ul>
    {% for customer in customers %}
    <li class="form-control"><a href="{{ url_for('customer_information', customer_id = customer.id) }}">{{ customer.name}}</a>
    <form method="POST" class="col-sm" action="{{ url_for('customer_remove', customer_id=customer.id) }}">
        <input type="submit" class="btn btn-outline-danger btn-sm" value="Remove customer"/>
    </form>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}